<form class="example-form col-12 p-3" (ngSubmit)="$event.preventDefault();">
  <mat-form-field [className]="'search-field'" class="col-12">
    <input matInput placeholder="Que quieres buscar?" [formControl]="search">
    <mat-icon matSuffix color="warn" (click)="clearSearch();" matTooltip="Limpiar búsqueda">cancel</mat-icon>
  </mat-form-field>
</form>

<div class="row result-search">
  <div class="col-2" *ngFor="let item of movies">
    <app-movie-item (click)="changeStatus()"
      [item]="item"
      [imageProperty]="'poster_path'"
      [itemTitle]="'title'"
      [isRedirect]="'peliculas/mas-detalles'"
    ></app-movie-item>
  </div>
</div>


